node_modules/
.DS_Store
.cursor/
dist/
dist-firefox/
release/*.zip
release/*.crx
release/*.xpi
release/*.pem
extension/dist/
extension/release/*.zip
extension/release/*.crx
extension/release/*.pem
extension/dist.crx
extension/dist.pem
extension/node_modules/
